<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metin Düzeltici</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/duzelt_sayfasi.css') }}">
</head>

<body>
    <header>
        <div class="container">
            <a href="/"><img src="static\images\logo.png" alt="Logo" class="logo"></a>
            <nav>
                <ul>
                    <li><a href="/duzelt_sayfasi"><button type="button"><z>Düzyaz.AI</z></button></a></li>
                    <li><a href="/urunler"><button type="button"><z>Ürünler</z></button></a></li>
                    <li><a href="/hakkimizda"><button type="button"><z>Hakkımızda</z></button></a></li>
                    <li><a href="/iletisim"><button type="button"><z>İletişim</z></button></a></li>
                    <div class="g">
                        <a href="/logout" class="button">Çıkış Yap</a>
                    </div>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container2">
        <div class="sol-kutu">
            <form action="/correct", method="POST">
                <textarea id="girisMetni" name="input" placeholder="Düzeltilecek Metni Giriniz">{{ text }}</textarea>
                <button id="duzeltButonu" type="submit">Düzelt</button>
            </form>
        </div>
        <div class="sag-kutu">
            <textarea id="ciktiMetni" placeholder="Düzeltmiş Metin Görünecek">{{ corrected }}</textarea>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>
