<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayıt Sayfası</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/giris_ekrani.css') }}"/>
</head>

<body>
    <header>
        <div class="container">
            <a href ="/"><img src="static\images\logo.png" alt="Logo" class="logo"></a>
            <nav>
                <ul>
                    <li><a href="/giris_ekrani"><button type="button"><z>Düzyaz.AI</z></button></a></li>
                    <li><a href="/urunler"><button type="button">Ürünler</button></a></li>
                    <li><a href="/hakkimizda"><button type="button">Hakkımızda</button></a></li>
                    <li><a href="/iletisim"><button type="button"><z>İletişim</z></button></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="login-container">
            <h2>Kayıt Ol</h2>
            <form action="/sign_in" method="post">
                <div class="form-group">
                    <label for="email">E-posta:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="username">Kullanıcı Adı:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Şifre:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-group">          
                    <button type="submit">Kayıt Ol</button>
                </div>
            </form>
        </section>
    </main>
    
    <footer>
        <div class="container">
            <p>© 2024 Düzyaz.AI</p>
        </div>
    </footer>
</body>
</html>
