<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Sayfa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ana_sayfa.css') }}"/>
</head>

<body>
    <header>
        <div class="container">
            <a href="/"><img src="static\images\logo.png" alt="Logo" class="logo"></a>
            <nav>
                <ul>
                    <li><a href="/duzelt_sayfasi"><button type="button"><z>Düzyaz.AI</z></button></a></li>
                    <li><a href="/urunler"><button type="button">Ürünler</button></a></li>
                    <li><a href="/hakkimizda"><button type="button">Hakkımızda</button></a></li>
                    <li><a href="/iletisim"><button type="button"><z>İletişim</z></button></a></li>
                    <div class="g">
                        <a href="/logout" class="button">Çıkış Yap</a>
                    </div>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="fotograf-kutulari">
            <div class="fotograf-kutusu">
                <img src="static\images\bulut.png" alt="Fotoğraf 1">
                <p>Yazılarınızı Yükleyin</p> <!-- Fotoğrafın altındaki metin -->
                <k>Hangi metni düzeltmek istiyorsanız yükleyin</k>
            </div>
            <div class="fotograf-kutusu">
                <img src="static\images\goz.png" alt="Fotoğraf 2">
                <p>Düzyaz metninizi gözden geçirsin</p> <!-- Fotoğrafın altındaki metin -->
                <k>Düzyaz metninizi gözden geçirir ve hataları tespit edip size gösterir.</k>
            </div>
            <div class="fotograf-kutusu">
                <img src="static\images\yapboz.png" alt="Fotoğraf 3">
                <p>Yanlışları Düzeltin</p> <!-- Fotoğrafın altındaki metin -->
                <k>Yanlışları tek bir tıkla düzelt ve zamandan tasarruf et</k>
            </div>
        </section>
    </main>
    
    <footer>
        <div class="container">
            <p>© 2024 Düzyaz.AI</p>
        </div>
    </footer>
</body>
</html>
