body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
    background-color: white;
}

header {
    background-color: turquoise;
    padding: 20px 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    width: 70px;
    height: auto;
    margin-bottom: -50px; /* Logoyu 10px aşağı indirir */
}

p {
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

main {
    padding: 50px 0;
}


button {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #669999;
}

/* Giriş sayfası için özel stil */
.login-container {
    width: 100%; /* Giriş konteynerinin genişliğini ayarla */
    max-width: 400px; /* Maksimum genişlik */
    margin: 30px auto; /* Üstten ve alttan boşluk bırakarak ortala */
    padding: 20px; /* İç dolgu */
    background-color: #f9f9f9; /* Arka plan rengi */
    border-radius: 10px; /* Kenar yuvarlaklığı */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Gölge efekti */
}

.login-container h2 {
    color: #333; /* Başlık rengi */
    margin-bottom: 20px; /* Başlık altındaki boşluk */
}

.form-group {
    margin-bottom: 15px; /* Form grupları arasındaki boşluk */
}

.form-group label {
    display: block; /* Etiketi blok element yap */
    margin-bottom: 5px; /* Etiket altındaki boşluk */
}

.form-group input {
    width: 100%; /* Input genişliği */
    padding: 10px; /* Input iç dolgusu */
    border: 1px solid #ddd; /* Kenarlık */
    border-radius: 5px; /* Kenar yuvarlaklığı */
    box-sizing: border-box; /* Kenarlık ve padding dahil genişlik hesaplanır */
}

.form-group button {
    width: 100%; /* Buton genişliği */
    padding: 10px; /* Buton iç dolgusu */
    background-color: turquoise; /* Buton arka plan rengi */
    color: white; /* Buton metin rengi */
    border: none; /* Kenarlık kaldır */
    border-radius: 5px; /* Kenar yuvarlaklığı */
    cursor: pointer; /* İmleç */
}

.form-group button:hover {
    background-color: #5d9d9d; /* Buton hover rengi */
}

.g .button {
    position: absolute; /* Pozisyon tipini ayarla */
    right: 30px;
    top: 43px;         /* Butonu 10 piksel yukarı taşı */
    /* Diğer stil özellikleri */
    background-color: white;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.g .button:hover {
    background-color: #669999; /* Fare ile üzerine gelindiğinde rengi değişir */
}

@media (max-width: 768px) {
    header {
        padding: 30px 0;
    }

    .container {
        padding: 0 10px;
    }

    .logo {
        width: 100px;
        margin-bottom: -70px;
    }

    nav ul {
        flex-direction: row; /* Küçük ekranlarda butonları yatay hizalar */
        flex-wrap: wrap; /* Butonların küçük ekranlarda sarılmasını sağlar */
    }

    nav li {
        margin: 5px 10px; /* Butonlar arasında daha az boşluk bırakır */
    }

    .fotograf-kutulari {
        flex-direction: column;
    }

    .fotograf-kutusu {
        width: 90%;
        margin: 10px 0;
    }

    button {
        padding: 5px 10px;
        font-size: 12px;
    }

    footer {
        padding: 2px; /* Altbilgideki metin için iç boşluk */
    }

    .g .button {
        padding: 5px 5px;
        font-size: 14px;
        margin: 4px 2px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 5px 0;
    }

    .logo {
        width: 40px;
        margin-bottom: 0;
    }

    nav ul {
        text-align: center;
        flex-direction: row; /* Daha küçük ekranlarda da yatay hizalama */
        flex-wrap: wrap; /* Butonların sarılmasını sağlar */
    }

    nav li {
        margin: 5px 5px; /* Daha az boşluk bırakır */
    }

    .g .button {
        padding: 5px 5px;
        font-size: 14px;
        margin: 4px 2px;
    }

    .fotograf-kutulari {
        flex-direction: column;
    }

    .fotograf-kutusu {
        width: 100%;
        margin: 5px 0;
    }

    button {
        padding: 5px 10px;
        font-size: 12px;
    }

    footer {
        padding: 2px; /* Altbilgideki metin için iç boşluk */
    }
}
