body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
    background-color: white;
}

header {
    background-color: turquoise;
    padding: 20px 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    width: 70px;
    height: auto;
    margin-bottom: -50px; /* Logoyu 50px aşağı indirir */
}

p{
    /* color:#484f4f; */
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 20px;
}

.g .button {
    position: absolute; /* Pozisyon tipini ayarla */
    right: 30px;
    top: 43px;         /* Butonu 10 piksel yukarı taşı */
    /* Diğer stil özellikleri */
    background-color: white;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }      

.g .button:hover {
    background-color: #669999; /* Fare ile üzerine gelindiğinde rengi değişir */
}

nav a {
    text-decoration: none;
    color: white;
}

footer {
    position: fixed; /* Elementi sabit konumlandırır */
    bottom: 0; /* Altbilgiyi sayfanın altına yerleştirir */
    width: 100%; /* Altbilginin tam genişlikte olmasını sağlar */
    background-color: #f0f0f0; /* Altbilgi için arkaplan rengi (isteğe bağlı) */
    padding: 20px; /* Altbilgideki metin için iç boşluk */
    text-align: center; /* Metni ortalar */
}


main {
    padding: 50px 0;
}
z{
    color : black;
}

g{
    color: white;
    align-items: right;
}

button {
    background-color: white; /* Butonun arka plan rengini ayarla */
    border: none; /* Varsayılan kenarlığı kaldır */
    color: black; /* Metin rengini beyaz olarak ayarla */
    padding: 10px 20px; /* Biraz dolgu ekle */
    text-align: center; /* Metni ortala */
    text-decoration: none; /* Linklerden alt çizgiyi kaldır */
    display: inline-block; /* Butonları satır içi elementler yap */
    font-size: 16px; /* Yazı tipi boyutunu ayarla */
    margin: 4px 2px; /* Biraz boşluk ekle */
    cursor: pointer; /* Fare imlecini butonun üzerine geldiğinde işaretçiye dönüştür */
    border-radius: 5px; /* İsteğe bağlı: Butona yuvarlak köşeler ekle */
    top: -10px;
}

/* Butonlar için bir hover efekti ekle */
button:hover {
    background-color: #669999; /* Üzerine gelindiğinde buton rengini biraz koyulaştır */
}

.iletisim-formu {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.iletisim-formu label {
    display: block;
    margin-top: 10px;
}

/* İsim ve email inputlarını yanyana getirmek için flexbox kullanın */
.iletisim-formu .input-row {
    display: flex;
    justify-content: space-between;
}

.iletisim-formu .input-row .form-group {
    width: 45%; /* Yanyana iki input için %50'den biraz daha az */

}

.iletisim-formu input[type="text"],
.iletisim-formu input[type="email"],
.iletisim-formu textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background-color: #f2f2f2; /* Açık gri arkaplan rengi */
    border: 1px solid #dcdcdc; /* Açık gri kenarlık */
}

.iletisim-formu textarea {
    height: 150px; /* Mesaj kutusunu daha büyük yapmak için */
}

.iletisim-formu button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: turquoise;
}

l{
  max-width: 10px;  
}

@media (max-width: 768px) {
    header {
        padding: 10px 0;
    }

    .container {
        padding: 0 10px;
    }

    .logo {
        width: 50px;
        margin-bottom: 0;
    }

    nav ul {
        flex-direction: row; /* Küçük ekranlarda butonları yatay hizalar */
        flex-wrap: wrap; /* Butonların küçük ekranlarda sarılmasını sağlar */
    }

    nav li {
        margin: 5px 10px; /* Butonlar arasında daha az boşluk bırakır */
    }

    .g .button {
        padding: 5px 5px;
        font-size: 14px;
        margin: 4px 2px;
    }

    .fotograf-kutulari {
        flex-direction: column;
    }

    .fotograf-kutusu {
        width: 90%;
        margin: 10px 0;
    }

    button {
        padding: 5px 10px;
        font-size: 12px;
    }

    footer {
        padding: 2px; /* Altbilgideki metin için iç boşluk */
    }
}

@media (max-width: 480px) {
    header {
        padding: 5px 0;
    }

    .logo {
        width: 40px;
        margin-bottom: 0;
    }

    nav ul {
        text-align: center;
        flex-direction: row; /* Daha küçük ekranlarda da yatay hizalama */
        flex-wrap: wrap; /* Butonların sarılmasını sağlar */
    }

    nav li {
        margin: 5px 5px; /* Daha az boşluk bırakır */
    }

    .g .button {
        padding: 5px 10px;
        font-size: 12px;
        top: 20px;
    }

    .fotograf-kutulari {
        flex-direction: column;
    }

    .fotograf-kutusu {
        width: 100%;
        margin: 5px 0;
    }

    button {
        padding: 5px 10px;
        font-size: 12px;
    }

    footer {
        padding: 2px; /* Altbilgideki metin için iç boşluk */
    }
}