body {
    font-family: sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: turquoise; /* Başlık arkaplan rengi */
    padding: 20px 0;
    width: 100%; /* Tam genişlik */
    position: fixed; /* Sabit konumlandırma */
    top: 0; /* Üste sabitler */
    left: 0; /* Sola sabitler */
    z-index: 100; /* Diğer elementlerin üstünde yer almasını sağlar */
    box-sizing: border-box; /* İç ve dış kenar boşluklarını birleştirir */
  }
  

z{
    color : black;
}

button {
    background-color: white; /* Butonun arka plan rengini ayarla */
    border: none; /* Varsayılan kenarlığı kaldır */
    color: white; /* Metin rengini beyaz olarak ayarla */
    padding: 10px 20px; /* Biraz dolgu ekle */
    text-align: center; /* Metni ortala */
    text-decoration: none; /* Linklerden alt çizgiyi kaldır */
    display: inline-block; /* Butonları satır içi elementler yap */
    font-size: 16px; /* Yazı tipi boyutunu ayarla */
    margin: 4px 2px; /* Biraz boşluk ekle */
    cursor: pointer; /* Fare imlecini butonun üzerine geldiğinde işaretçiye dönüştür */
    border-radius: 5px; /* İsteğe bağlı: Butona yuvarlak köşeler ekle */
}

.logo {
    width: 70px;
    height: auto;
    margin-bottom: -50px; 
}

nav {
    text-align: center;
}

nav ul {
    list-style: none; /* Noktalı listeyi kaldırır */
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block; /* Menü öğelerini yan yana dizer */
    margin-right: 20px; /* Menü öğeleri arasında boşluk */
}

nav a {
    color: black; /* Turkuaz renk */
    text-decoration: none; /* Alt çizgiyi kaldırır */
    font-weight: bold;
}

.container2 {
    display: flex; /* Flexbox konteynerini etkinleştirir */
    justify-content: center; /* İçerikleri yatay olarak ortalar */
    margin-top: 200px;
}

.sol-kutu, .sag-kutu {
    flex: 1; /* Her iki kutuyu da eşit genişlikte yapar */
    padding: 20px;
    border: 3px solid #ddd;
    border-radius: 5px;
}



nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#girisMetni, #ciktiMetni {
    width: 100%;
    height: 200px;
    resize: vertical; /* Metin kutularını dikey olarak yeniden boyutlandırma seçeneği */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#duzeltButonu {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #4CAF50; /* Yeşil renk */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#duzeltButonu:hover {
    background-color: #45a049; /* Daha koyu yeşil renk (fare ile üzerine gelindiğinde) */
}
